/.idea/
/.jpb/
/target/
/lib/
/backup/
/DacoBot.jar
src/main/resources/key.properties
src/main/resources/chatbot/bots/DacoChat/aiml/user.aiml
src/main/resources/chatbot/bots/DacoChat/aimlif/user.aiml.csv
