<hibernate-configuration>
    <session-factory>
        <property name="connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hikari.minimumIdle">5</property>
        <property name="hikari.maximumPoolSize">10</property>
        <property name="hikari.idleTimeout">30000</property>

        <!--<property name="hikari.dataSourceClassName">oracle.jdbc.driver.OracleDriver</property>-->

        <property name="hikari.dataSourceClassName">oracle.jdbc.pool.OracleDataSource</property>
        <property name="hikari.dataSource.url">jdbc:oracle:thin:@121.167.147.13:1521:orcl</property>
        <property name="hikari.dataSource.user">smspop</property>
        <property name="hikari.dataSource.password">smspop</property>
        ...
    </session-factory>
</hibernate-configuration>